# Pandas basic

- Pandas uses a data structure called DataFrame to read and store tabular data
- a Pandas Series is more powerful than a numpy array because numpy is only limited to integer index values while a Series can utilize strings for index  
  *(see example data.loc[2] below for series object representation)*

## Selecting specific rows/columns

In [0]:
import pandas as pd
import numpy as np
# read data from url
data = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)

# display the first 5 rows
print data.head()

# display the 3rd row
print data.loc[2]  # .loc() takes slicing notation

# display the last 3 rows
num_rows = data.shape[0]
print data.loc[num_rows-5:num_rows]

# display the first 2 columns
print data[['TV','Radio']].head(5)

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9
TV           44.5
Radio        39.3
Newspaper    45.1
Sales        10.4
Name: 2, dtype: float64
        TV  Radio  Newspaper  Sales
195  149.7   35.6        6.0   17.3
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4
      TV  Radio
1  230.1   37.8
2   44.5   39.3
3   17.2   45.9
4  151.5   41.3
5  180.8   10.8

## Adding Columns

In [0]:
data['New Column'] = data['TV']+data['Radio']
print data.head(5)

      TV  Radio  Newspaper  Sales  New Column
1  230.1   37.8       69.2   22.1       267.9
2   44.5   39.3       45.1   10.4        83.8
3   17.2   45.9       69.3    9.3        63.1
4  151.5   41.3       58.5   18.5       192.8
5  180.8   10.8       58.4   12.9       191.6

## Sorting columns

parameters:
- inplace   :whether or not we want to overwrite the same column or create a new column
- ascending :sort in ascending/descending order

In [0]:
data.sort_values("New Column", inplace=True, ascending=False)
print data['New Column'].head(5)

102    332.7
99     332.0
184    330.6
176    325.8
199    325.6
Name: New Column, dtype: float64

## Missing values

- pd.isnull() returns True/False for missing data

In [0]:
# data set with missing values
nfl_data = pd.read_csv('nfl-suspensions-data.csv')
print nfl_data.columns
nfl_data.head(7)

Index([u'name', u'team', u'games', u'category', u'desc.', u'year', u'source'], dtype='object')

,name,team,games,category,desc.,year,source
0,F. Davis,WAS,Indef.,"Substance abuse, repeated offense",Marijuana-related,2014,http://www.cbssports.com/nfl/eye-on-football/2...
1,J. Blackmon,JAX,Indef.,"Substance abuse, repeated offense",NaN,2014,http://espn.go.com/nfl/story/_/id/11257934/jus...
2,L. Brazill,IND,Indef.,"Substance abuse, repeated offense",NaN,2014,http://www.nfl.com/news/story/0ap2000000364622...
3,T. Jackson,WAS,Indef.,"Substance abuse, repeated offense",NaN,2014,http://www.nfl.com/news/story/0ap2000000364087...
4,M. Hapes,NYG,Indef.,Personal conduct,Gambling-related,1946,http://espn.go.com/blog/nflnation/tag/_/name/f...
5,R. Rice,BAL,Indef.,Personal conduct,Domestic violence,2014,http://espn.go.com/new-york/nfl/story/_/id/114...
6,F. Filchock,NYG,36,Personal conduct,Gambling-related,1947,http://espn.go.com/blog/nflnation/tag/_/name/f...

In [0]:
# find which rows in 'desc' column is missing
missing = pd.isnull(nfl_data['desc.'])
print missing.head(7)

# display the names for which the 'desc.' column is misisng
print nfl_data['name'][missing == True].head(3)
# print the index for the corresponding rows
print nfl_data['name'][missing == True].head(3).index

0    False
1     True
2     True
3     True
4    False
5    False
6    False
Name: desc., dtype: bool
1    J. Blackmon
2     L. Brazill
3     T. Jackson
Name: name, dtype: object
Int64Index([1, 2, 3], dtype='int64')

### Replacing missing values in a vector

In [0]:
nfl_data['desc.'][missing == True] = 'N/A'
print nfl_data.head(7)

            team   games                           category  \
name
F. Davis     WAS  Indef.  Substance abuse, repeated offense
J. Blackmon  JAX  Indef.  Substance abuse, repeated offense
L. Brazill   IND  Indef.  Substance abuse, repeated offense
T. Jackson   WAS  Indef.  Substance abuse, repeated offense
M. Hapes     NYG  Indef.                   Personal conduct
R. Rice      BAL  Indef.                   Personal conduct
F. Filchock  NYG      36                   Personal conduct

                         desc.  year  \
name
F. Davis     Marijuana-related  2014
J. Blackmon                N/A  2014
L. Brazill                 N/A  2014
T. Jackson                 N/A  2014
M. Hapes      Gambling-related  1946
R. Rice      Domestic violence  2014
F. Filchock   Gambling-related  1947

                                                        source
name
F. Davis     http://www.cbssports.com/nfl/eye-on-football/2...
J. Blackmon  http://espn.go.com/nfl/story/_/id/11257934/jus...
L. Brazill   http://www.nfl.com/news/story/0ap2000000364622...
T. Jackson   http://www.nfl.com/news/story/0ap2000000364087...
M. Hapes     http://espn.go.com/blog/nflnation/tag/_/name/f...
R. Rice      http://espn.go.com/new-york/nfl/story/_/id/114...
F. Filchock  http://espn.go.com/blog/nflnation/tag/_/name/f...

### Replacing missing values in a matrix
   
- **.iloc** takes in matrix indices and returns the **position** of the argument **(0 start)**
- **.loc** takes in matrix indeces and returns the row corresponding to the argument (index) **(1 start, or string)**  
**adding a second argument specifics column**

In [0]:
print data.head(5)
print data.iloc[2] #this prints the row with python position 2 (index==3) because python numbering starts from 0
print data.loc[3]  #this prints the same as above, because .loc refers to the index, not the position

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9
TV           17.2
Radio        45.9
Newspaper    69.3
Sales         9.3
Name: 3, dtype: float64
TV           17.2
Radio        45.9
Newspaper    69.3
Sales         9.3
Name: 3, dtype: float64

### .reset_index( )  must be called to re-index rows after rows are dropped
- .dropna drops all rows that have missing values across **all** the columns
- .dropna(subset = list of columns) drops rows that have missing values in the **subset** of columns **(1 or more)**

In [0]:
nfl_dropped = nfl_data.dropna(subset=['desc.'])
print nfl_dropped.head(3)

print nfl_dropped.reset_index().head(3)

       name team   games                           category  \
0  F. Davis  WAS  Indef.  Substance abuse, repeated offense
4  M. Hapes  NYG  Indef.                   Personal conduct
5   R. Rice  BAL  Indef.                   Personal conduct

               desc.  year                                             source
0  Marijuana-related  2014  http://www.cbssports.com/nfl/eye-on-football/2...
4   Gambling-related  1946  http://espn.go.com/blog/nflnation/tag/_/name/f...
5  Domestic violence  2014  http://espn.go.com/new-york/nfl/story/_/id/114...
   index      name team   games                           category  \
0      0  F. Davis  WAS  Indef.  Substance abuse, repeated offense
1      4  M. Hapes  NYG  Indef.                   Personal conduct
2      5   R. Rice  BAL  Indef.                   Personal conduct

               desc.  year                                             source
0  Marijuana-related  2014  http://www.cbssports.com/nfl/eye-on-football/2...
1   Gambling-related  1946  http://espn.go.com/blog/nflnation/tag/_/name/f...
2  Domestic violence  2014  http://espn.go.com/new-york/nfl/story/_/id/114...

## Pivoting

- .pivot_table(index, values, aggfunc)

In [0]:
titanic_survival = pd.read_csv('titanic_train.csv')
print titanic_survival.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [0]:
# The "survived" column contains a 1 if the passenger survived, and a 0 if not
# The pivot_table method on a pandas dataframe will let us do this
# index specifies which column to subset data based on (in this case, we want to compute the survival percentage for each class)
# values specifies which column to subset based on the index
# The aggfunc specifies what to do with the subsets
# In this case, we split survived into 3 vectors, one for each passenger class, and take the mean of each
passenger_survival = titanic_survival.pivot_table(index="Pclass", values="Survived", aggfunc=np.mean)

# First class passengers had a much higher survival chance
print(passenger_survival)
# Determine their age by class
passenger_age = titanic_survival.pivot_table(index='Pclass', values='Age', aggfunc=np.mean)
print passenger_age

# Combine the above two
passenger_survival = titanic_survival.pivot_table(index="Pclass", values=["Age", "Survived"], aggfunc=np.mean)
print(passenger_survival)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64
              Age  Survived
Pclass
1       38.233441  0.629630
2       29.877630  0.472826
3       25.140620  0.242363

## Performing a function - Apply

- .apply(function, axis=0/1)  (for column/row)  
*Applies a function across ALL columns and rows*

In [0]:
# This is a function that counts the number of Null values in a column
def null_count(column):
    # Make a vector that contains True if null, False if not.
    column_null = pd.isnull(column)
    # Create a new vector with only values where the series is null.
    null = column[column_null == True]
    # Return the count of null values.
    return len(null)

# count how many null values are in the data set
print nfl_data.apply(null_count)

name          0
team          0
games         0
category      0
desc.       178
year          0
source        0
dtype: int64

In [0]:
# This is a function that counts the number of minors across rows labeled 'age'
def minor(row):
    if row['Age']<18:
        return 'minor'
    elif pd.isnull(row['Age']):
        return 'unknown'
    else:
        return 'adult'
        
age_labels = titanic_survival.apply(minor, axis=1)
print age_labels.iloc[4:9]

4      adult
5    unknown
6      adult
7      minor
8      adult
dtype: object

## Combining pivoting and apply techniques

In [0]:
age_labels = titanic_survival.apply(minor, axis=1)
titanic_survival['age_labels']=age_labels

age_group_survival=titanic_survival.pivot_table(index='age_labels', values='Survived', aggfunc=np.mean)
print age_group_survival

age_labels
adult      0.381032
minor      0.539823
unknown    0.293785
Name: Survived, dtype: float64

## Vaule_counts
Returns object containing counts of unique values

In [0]:
print titanic_survival['age_labels'].value_counts().index
print ' '
print titanic_survival['age_labels'].value_counts().values
print ' '
print titanic_survival['age_labels'].value_counts()

Index([u'adult', u'unknown', u'minor'], dtype='object')

[601 177 113]

adult      601
unknown    177
minor      113
Name: age_labels, dtype: int64

## Panda internals: Series

3 key data structures of Panda:
- Series (collection of values) - object  (**Integer and String index method both available**)
- DataFrame (collection of series)
- Panel (collection of DataFrames)

In [0]:
# Import the Series object from pandas
from pandas import Series

fandango = pd.read_csv('fandango_score_comparison.csv')
series_film = fandango['FILM']
series_rt = fandango['RottenTomatoes']

film_names = series_film.values
rt_scores = series_rt.values

# create a custom Series object
series_custom = Series(data=rt_scores, index=film_names)
series_custom

Avengers: Age of Ultron (2015)                     74
Cinderella (2015)                                  85
Ant-Man (2015)                                     80
Do You Believe? (2015)                             18
Hot Tub Time Machine 2 (2015)                      14
The Water Diviner (2015)                           63
Irrational Man (2015)                              42
Top Five (2014)                                    86
Shaun the Sheep Movie (2015)                       99
Love & Mercy (2015)                                89
Far From The Madding Crowd (2015)                  84
Black Sea (2015)                                   82
Leviathan (2014)                                   99
Unbroken (2014)                                    51
The Imitation Game (2014)                          90
Taken 3 (2015)                                      9
Ted 2 (2015)                                       46
Southpaw (2015)                                    59
Night at the Museum: Secret of the Tomb (2014)     50
Pixels (2015)                                      17
McFarland, USA (2015)                              79
Insidious: Chapter 3 (2015)                        59
The Man From U.N.C.L.E. (2015)                     68
Run All Night (2015)                               60
Trainwreck (2015)                                  85
Selma (2014)                                       99
Ex Machina (2015)                                  92
Still Alice (2015)                                 88
Wild Tales (2014)                                  96
The End of the Tour (2015)                         92
                                                 ...
Clouds of Sils Maria (2015)                        89
Testament of Youth (2015)                          81
Infinitely Polar Bear (2015)                       80
Phoenix (2015)                                     99
The Wolfpack (2015)                                84
The Stanford Prison Experiment (2015)              84
Tangerine (2015)                                   95
Magic Mike XXL (2015)                              62
Home (2015)                                        45
The Wedding Ringer (2015)                          27
Woman in Gold (2015)                               52
The Last Five Years (2015)                         60
Mission: Impossible â€“ Rogue Nation (2015)        92
Amy (2015)                                         97
Jurassic World (2015)                              71
Minions (2015)                                     54
Max (2015)                                         35
Paul Blart: Mall Cop 2 (2015)                       5
The Longest Ride (2015)                            31
The Lazarus Effect (2015)                          14
The Woman In Black 2 Angel of Death (2015)         22
Danny Collins (2015)                               77
Spare Parts (2015)                                 52
Serena (2015)                                      18
Inside Out (2015)                                  98
Mr. Holmes (2015)                                  87
'71 (2015)                                         97
Two Days, One Night (2014)                         97
Gett: The Trial of Viviane Amsalem (2015)         100
Kumiko, The Treasure Hunter (2015)                 87
dtype: int64

### Series: Reindexing
By using:
- .reindex
- .sort_index()
- .sort_values()

In [0]:
original_index = series_custom.index.tolist()
sorted_index = sorted(original_index)

sorted_by_index = series_custom.reindex(sorted_index)
print sorted_by_index.head(10)

sorted1=series_custom.sort_index()
sorted2=series_custom.sort_values()

print sorted1.head(10)
print sorted2.head(10)

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64
'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64
Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

### Series: Vectorized operations

Series utilizes np array so np oprations work on series

In [0]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75

both_criteria = series_custom[criteria_one & criteria_two]
print both_criteria.head(5)

Avengers: Age of Ultron (2015)    74
The Water Diviner (2015)          63
Unbroken (2014)                   51
Southpaw (2015)                   59
Insidious: Chapter 3 (2015)       59
dtype: int64

## Panda internals: DataFrames

### DataFrames: Setting indices
arguments: .set_index('column index', inplace, drop)
- inplace: True will set the index to current DF instead of returning a new one
- drop: False will keep the column specified for index remaining in the DF

inplace: if set to True, will set the index to the current DataFrame instead of returning a new one
drop: if set to False, will keep the column you specified for the index in the DataFrame

In [0]:
fandango_films = fandango.set_index('FILM',drop=False)
print(fandango_films.head(5))

                                                          FILM  \
FILM
Avengers: Age of Ultron (2015)  Avengers: Age of Ultron (2015)
Cinderella (2015)                            Cinderella (2015)
Ant-Man (2015)                                  Ant-Man (2015)
Do You Believe? (2015)                  Do You Believe? (2015)
Hot Tub Time Machine 2 (2015)    Hot Tub Time Machine 2 (2015)

                                RottenTomatoes  RottenTomatoes_User  \
FILM
Avengers: Age of Ultron (2015)              74                   86
Cinderella (2015)                           85                   80
Ant-Man (2015)                              80                   90
Do You Believe? (2015)                      18                   84
Hot Tub Time Machine 2 (2015)               14                   28

                                Metacritic  Metacritic_User  IMDB  \
FILM
Avengers: Age of Ultron (2015)          66              7.1   7.8
Cinderella (2015)                       67              7.5   7.1
Ant-Man (2015)                          64              8.1   7.8
Do You Believe? (2015)                  22              4.7   5.4
Hot Tub Time Machine 2 (2015)           29              3.4   5.1

                                Fandango_Stars  Fandango_Ratingvalue  RT_norm  \
FILM
Avengers: Age of Ultron (2015)             5.0                   4.5     3.70
Cinderella (2015)                          5.0                   4.5     4.25
Ant-Man (2015)                             5.0                   4.5     4.00
Do You Believe? (2015)                     5.0                   4.5     0.90
Hot Tub Time Machine 2 (2015)              3.5                   3.0     0.70

                                RT_user_norm         ...           IMDB_norm  \
FILM                                                 ...
Avengers: Age of Ultron (2015)           4.3         ...                3.90
Cinderella (2015)                        4.0         ...                3.55
Ant-Man (2015)                           4.5         ...                3.90
Do You Believe? (2015)                   4.2         ...                2.70
Hot Tub Time Machine 2 (2015)            1.4         ...                2.55

                                RT_norm_round  RT_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)            3.5                 4.5
Cinderella (2015)                         4.5                 4.0
Ant-Man (2015)                            4.0                 4.5
Do You Believe? (2015)                    1.0                 4.0
Hot Tub Time Machine 2 (2015)             0.5                 1.5

                                Metacritic_norm_round  \
FILM
Avengers: Age of Ultron (2015)                    3.5
Cinderella (2015)                                 3.5
Ant-Man (2015)                                    3.0
Do You Believe? (2015)                            1.0
Hot Tub Time Machine 2 (2015)                     1.5

                                Metacritic_user_norm_round  IMDB_norm_round  \
FILM
Avengers: Age of Ultron (2015)                         3.5              4.0
Cinderella (2015)                                      4.0              3.5
Ant-Man (2015)                                         4.0              4.0
Do You Believe? (2015)                                 2.5              2.5
Hot Tub Time Machine 2 (2015)                          1.5              2.5

                                Metacritic_user_vote_count  \
FILM
Avengers: Age of Ultron (2015)                        1330
Cinderella (2015)                                      249
Ant-Man (2015)                                         627
Do You Believe? (2015)                                  31
Hot Tub Time Machine 2 (2015)                           88

                                IMDB_user_vote_count  Fandango_votes  \
FILM
Avengers: Age of Ultron (2015)                271107           14846
Cinderella (2015)                              65709           12640
Ant-Man (2015)                                103660           12055
Do You Believe? (2015)                          3136            1793
Hot Tub Time Machine 2 (2015)                  19560            1021

                                Fandango_Difference
FILM
Avengers: Age of Ultron (2015)                  0.5
Cinderella (2015)                               0.5
Ant-Man (2015)                                  0.5
Do You Believe? (2015)                          0.5
Hot Tub Time Machine 2 (2015)                   0.5

[5 rows x 22 columns]

### DataFrame: Selecting with .loc

- .loc takes string or integer index values to select one or more columns. (one - Series, multiple - DataFrame)

In [0]:
movies = ["The Lazarus Effect (2015)", "Gett: The Trial of Viviane Amsalem (2015)", "Mr. Holmes (2015)"]
best_movies_ever = fandango_films.loc[movies]

print best_movies_ever.head(3)

                                                                                FILM  \
FILM
The Lazarus Effect (2015)                                  The Lazarus Effect (2015)
Gett: The Trial of Viviane Amsalem (2015)  Gett: The Trial of Viviane Amsalem (2015)
Mr. Holmes (2015)                                                  Mr. Holmes (2015)

                                           RottenTomatoes  \
FILM
The Lazarus Effect (2015)                              14
Gett: The Trial of Viviane Amsalem (2015)             100
Mr. Holmes (2015)                                      87

                                           RottenTomatoes_User  Metacritic  \
FILM
The Lazarus Effect (2015)                                   23          31
Gett: The Trial of Viviane Amsalem (2015)                   81          90
Mr. Holmes (2015)                                           78          67

                                           Metacritic_User  IMDB  \
FILM
The Lazarus Effect (2015)                              4.9   5.2
Gett: The Trial of Viviane Amsalem (2015)              7.3   7.8
Mr. Holmes (2015)                                      7.9   7.4

                                           Fandango_Stars  \
FILM
The Lazarus Effect (2015)                             3.0
Gett: The Trial of Viviane Amsalem (2015)             3.5
Mr. Holmes (2015)                                     4.0

                                           Fandango_Ratingvalue  RT_norm  \
FILM
The Lazarus Effect (2015)                                   3.0     0.70
Gett: The Trial of Viviane Amsalem (2015)                   3.5     5.00
Mr. Holmes (2015)                                           4.0     4.35

                                           RT_user_norm         ...           \
FILM                                                            ...
The Lazarus Effect (2015)                          1.15         ...
Gett: The Trial of Viviane Amsalem (2015)          4.05         ...
Mr. Holmes (2015)                                  3.90         ...

                                           IMDB_norm  RT_norm_round  \
FILM
The Lazarus Effect (2015)                        2.6            0.5
Gett: The Trial of Viviane Amsalem (2015)        3.9            5.0
Mr. Holmes (2015)                                3.7            4.5

                                           RT_user_norm_round  \
FILM
The Lazarus Effect (2015)                                 1.0
Gett: The Trial of Viviane Amsalem (2015)                 4.0
Mr. Holmes (2015)                                         4.0

                                           Metacritic_norm_round  \
FILM
The Lazarus Effect (2015)                                    1.5
Gett: The Trial of Viviane Amsalem (2015)                    4.5
Mr. Holmes (2015)                                            3.5

                                           Metacritic_user_norm_round  \
FILM
The Lazarus Effect (2015)                                         2.5
Gett: The Trial of Viviane Amsalem (2015)                         3.5
Mr. Holmes (2015)                                                 4.0

                                           IMDB_norm_round  \
FILM
The Lazarus Effect (2015)                              2.5
Gett: The Trial of Viviane Amsalem (2015)              4.0
Mr. Holmes (2015)                                      3.5

                                           Metacritic_user_vote_count  \
FILM
The Lazarus Effect (2015)                                          62
Gett: The Trial of Viviane Amsalem (2015)                          19
Mr. Holmes (2015)                                                  33

                                           IMDB_user_vote_count  \
FILM
The Lazarus Effect (2015)                                 17691
Gett: The Trial of Viviane Amsalem (2015)                  1955
Mr. Holmes (2015)                                          7367

                                           Fandango_votes  Fandango_Difference
FILM
The Lazarus Effect (2015)                            1651                  0.0
Gett: The Trial of Viviane Amsalem (2015)              59                  0.0
Mr. Holmes (2015)                                    1348                  0.0

[3 rows x 22 columns]

### DataFrames: Apply over columns

**Pick columns with data type float and get the standard deviation for those columns using np.std()**

In [0]:
# returns the data types as a Series
types = fandango_films.dtypes
# filter data types to just floats, index attributes returns just column names
float_columns = types[types.values == 'float64'].index   # .index of a series returns the column names
# use bracket notation to filter columns to just float columns
float_df = fandango_films[float_columns]

# `x` is a Series object representing a column
deviations = float_df.apply(lambda x: np.std(x))

print(deviations)

Metacritic_User               1.505529
IMDB                          0.955447
Fandango_Stars                0.538532
Fandango_Ratingvalue          0.501106
RT_norm                       1.503265
RT_user_norm                  0.997787
Metacritic_norm               0.972522
Metacritic_user_nom           0.752765
IMDB_norm                     0.477723
RT_norm_round                 1.509404
RT_user_norm_round            1.003559
Metacritic_norm_round         0.987561
Metacritic_user_norm_round    0.785412
IMDB_norm_round               0.501043
Fandango_Difference           0.152141
dtype: float64

In [0]:
# other operations using lambda function
halved_df = float_df.apply(lambda x: x/2)
print halved_df.head(2)

                                Metacritic_User  IMDB  Fandango_Stars  \
FILM
Avengers: Age of Ultron (2015)             3.55  3.90             2.5
Cinderella (2015)                          3.75  3.55             2.5

                                Fandango_Ratingvalue  RT_norm  RT_user_norm  \
FILM
Avengers: Age of Ultron (2015)                  2.25    1.850          2.15
Cinderella (2015)                               2.25    2.125          2.00

                                Metacritic_norm  Metacritic_user_nom  \
FILM
Avengers: Age of Ultron (2015)            1.650                1.775
Cinderella (2015)                         1.675                1.875

                                IMDB_norm  RT_norm_round  RT_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)      1.950           1.75                2.25
Cinderella (2015)                   1.775           2.25                2.00

                                Metacritic_norm_round  \
FILM
Avengers: Age of Ultron (2015)                   1.75
Cinderella (2015)                                1.75

                                Metacritic_user_norm_round  IMDB_norm_round  \
FILM
Avengers: Age of Ultron (2015)                        1.75             2.00
Cinderella (2015)                                     2.00             1.75

                                Fandango_Difference
FILM
Avengers: Age of Ultron (2015)                 0.25
Cinderella (2015)                              0.25

### DataFrames: Apply over rows

.apply( , axis=1)

In [0]:
rt_mt_user = float_df[['RT_user_norm', 'Metacritic_user_nom']]
rt_mt_deviations = rt_mt_user.apply(lambda x: np.std(x), axis=1)
print(rt_mt_deviations[0:5])

rt_mt_means = rt_mt_user.apply(lambda x: np.mean(x), axis=1)
print(rt_mt_means[:5])

FILM
Avengers: Age of Ultron (2015)    0.375
Cinderella (2015)                 0.125
Ant-Man (2015)                    0.225
Do You Believe? (2015)            0.925
Hot Tub Time Machine 2 (2015)     0.150
dtype: float64
FILM
Avengers: Age of Ultron (2015)    3.925
Cinderella (2015)                 3.875
Ant-Man (2015)                    4.275
Do You Believe? (2015)            3.275
Hot Tub Time Machine 2 (2015)     1.550
dtype: float64